<div class="display-info-container">
    <h2>The $1,000,000,000 North Korean Bank Heist</h2>
    <div class="video-info">
        <div class="left-info">
            <div class="profile-box">
                <a href="#">
                    <img src="https://yt3.ggpht.com/ytc/AMLnZu-ang8udEy-XsJywvDGsMffHw_b1QKQEtaxyTZgMQ=s48-c-k-c0x00ffffff-no-rj" alt="channel pfp">
                </a>
                <div class="profile-info">
                    <div class="profile-name">
                        <a href="#">Kento Bento</a>
                        <fa-icon [icon]="faCheck" class="fa-icon"></fa-icon>
                    </div>
                    <small>1.62M subscribers</small>
                </div>
            </div>
        
            <div class="sub-box">
                <button class="btn subscribe-btn">Subscribe</button>
                <fa-icon [icon]="faBell" class="fa-icon"></fa-icon>
            </div>
        </div>

        <div class="right-info">
            <div class="like-button-container">
                <button class="btn like-btn">
                    <fa-icon [icon]="faThumbsUp" class="fa-icon"></fa-icon>
                    <span>223K</span>
                </button>
                <span class="divider"></span>
                <button class="btn dislike-btn">
                    <fa-icon [icon]="faThumbsDown" class="fa-icon"></fa-icon>
                </button>
            </div>

            <div>
                <button class="btn share-btn">
                    <fa-icon [icon]="faShare" class="fa-icon"></fa-icon>
                    <span>Share</span>
                </button>
            </div>

            <div class="mobile-view">
                <button class="btn download-btn">
                    <fa-icon [icon]="faDownload" class="fa-icon"></fa-icon>
                    <span>Download</span>
                </button>
            </div>

            <div>
                <button class="btn more-btn">
                    <fa-icon [icon]="faEllipsisH" class="fa-icon"></fa-icon>
                </button>
            </div>
        </div>

    </div>
</div>