<nav id="nav">
    <div class="left-nav">
        <fa-icon [icon]="faBars" class="fa-icon"></fa-icon>
        <a href="#" class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="youtube logo">
            <h3>YouTube</h3>
        </a>
    </div>
    <div class="right-nav">
        <fa-icon [icon]="faSearch" class="fa-icon"></fa-icon>
        <fa-icon [icon]="faMicrophone" class="fa-icon"></fa-icon>
        <fa-icon [icon]="faVideoCamera" class="fa-icon"></fa-icon>
        <fa-icon [icon]="faBell" class="fa-icon"></fa-icon>
        <a href="https://github.com/MeeceGH" class="circle">M</a>
    </div>
</nav>